/*font family for page. If you have another style sheet that sets font family, you can delete this rule*/

/*Control DIV for expand all and collapse all links*/
#p7TMctrl {
	margin: 0 0 0 0;
	font-size: .8em;
	display: none;
	/*/*/display: block; /* Hide from NN4*/
}
#p7TMctrl a:link {
  color: #fff;
}
#p7TMctrl a:visited {
 color: #fff;
}
#p7TMctrl a:hover {
  color: #990000;
}


/*Sets line-height of all menuitems*/
#p7TMnav div {
	/*/*/line-height: 1.5; /* */
	font-size:small;
}


/*Sets background color and border around the menu DIV*/
#p7TMnav {
	padding: 0 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
}

/*Sets a bottom margin for each top-level link*/
#p7TMnav div {
	margin: 0 0 0 0 ;
        text-indent: 0em;
}

/*second level menuitem divs and lower -Cascades to lower levels-*/
/*Sets left margin to .6em establishing a fluid cascading indent*/
/*Sets a left border*/
#p7TMnav div div {
	margin: -2px 0 -2px 0;
	font-size: 12px;
	/*border-left: 1px solid #999;*/
}


#p7TMnav div { background: url('images/nav-off.jpg') no-repeat;}

/*The Link style for top-level menuitems and is read by all browsers*/
#p7TMnav div a {
	color: #000;
	font-size: .9em;  /* original value was 1 em; mary keitelman*/
}
/*The Link style for top-level menuitems hidden from Netscape 4*/
#p7TMnav div a {
  display: block;
  height: 23px;
  color: #fff;
  line-height: 23px;
  vertical-align: middle;
  padding-left: 20px;
}

#p7TMnav div a:visited {
  display: block;
  height: 23px;
  color: #000;
  line-height: 23px;
  vertical-align: middle;;
  padding-left: 20px;
}
#p7TMnav div a:hover, #p7TMnav div a:active {
  text-decoration: underline; 
  width: 81%;
}

/*The Link and visited styles combined for second-level menuitems*/
#p7TMnav div div {background: url('images/nav_sub_bgrd.jpg') repeat-y; }
#p7TMnav div div a, #p7TMnav div div a:visited {
  color: #000;
  padding: 0 30px;
  height: auto;
}
#p7TMnav div div a:hover, #p7TMnav div div a:active {
	color: #444;
	width: 60%;
/*	background-color: #999;   */
}

/*The Link style for third-level menuitems and lower*/
/*To set a specific style for the fourth level, add a div to the selector*/
/*Fourth-level example syntax: p7TMnav div div div div a {declaration}*/
#p7TMnav div div div a {
	font-size: 80%;  /* original value was 90%; mary keitelman*/
	padding: 0 0 .25em .6em;    /* added rule; mary keitelman*/
    text-indent: -.1em;    /* added rule; mary keitelman*/
	
}

	

/* new rule for fourth level;
defining 4th level for indented information withing Our Services --> Programs --> listed programs; mary keitelman  

#p7TMnav div div div div a {
	font-size: 80%;  
	margin: 0 0 .25em 1em;   
    text-indent: -1em; 
}

*/
/*rules programatically assigned to parent links when image-based plus and minus option is selected. The padding on the 4 following rules supercedes (via !important) the padding on the p7TMnav div a selector when you've chosen the option to use images for the plus and minus signs*/
.p7plusmark {
	background-repeat: no-repeat;
	background-image: url('/images/nav-arrow.gif') !important;
	background-position: 6px 50%;
	padding: 0 0 0 20px !important;
}
.p7minusmark {
	background-repeat: no-repeat;
	background-image: url('/images/p7t_minus.gif');
	background-position: 6px 50%;
	padding: 0 0 0 20px !important;
}

/*rule programatically assigned to child links when image-based plus and minus option is selected*/
.p7defmark {
	background-image:  none;
	/*padding: 0 0 0 20px !important;*/
	padding: 0 0 0 20px !important;
}

/*rules programatically assigned to page link corresponding to current page (You are Here)*/
/*.p7currentmark {
{
  font-weight: bold; 
  background: url("../images/nav-arrow.gif") no-repeat !important;
  background-position: 3px 50%;
  text-transform: none;
  text-decoration: underline !important;   
}
*/

.p7currentmark {
/*   font-weight: bold;     */
   text-decoration: underline !important;
   color: #000 !important; 
}


/*special style for User Guide Tutorials*/
#stretchyCell {
	width: 14em;
}

