<% if @pages %>
  <p>
    Found <%= pluralize(@pages.item_count, "match") %>.
	
    <% if paginated? %>
      <% first = @pages.current_page.first_item %>
      <% last = @pages.current_page.last_item %>
       Displaying users <%= first %>&ndash;<%= last %>.
    <% end %>
   </p>
<% end %>	