<br>
		<br>
		<div id="loginbox">
			<div class="copy">
			<p>Forgotten password </p>
			
			<hr style="color:#CCC"/>
			</div>
			<div id ="content">
				<%= form_tag :action=>'forgot_password'%>
				Email: <%= text_field "user","email" %><br/>
				<%= submit_tag 'Email password' %>

			</form>
				
		<br/>
					
	</div>
	<br>
	<br>

