
		<br>
		<br>

		<p>
     
	 <div id="content">
	 <hr style="color:#CCC"/>
	 <% tempUser = @userC %>
	 Welcome! <%= tempUser.login %>
	 <br/>
	 You are a part of the network of the  organization : <%= tempUser.affiliateOrg%>
	 
	 <br/>

	 <%
	 if(@organization.visible)
		concat "This organization is publicly visible ."
	 else
		concat "The organization added by you is still in private mode . Please add the website and contact information, if you haven't  already done so for faster approval of content ."
     end
	 %>
	 <br/>
	 <br/>
	 Click on the organization to edits it contents
	 
	 <br />
	 <%= link_to @organization.name, @organization %>
	</p>
	
	</div>
	</body>
</html>
