<!-- Partial for the text field user entry. -->

<div class="profile">
  <%= text_field_user_entry.humanize %>:
  <br />
  <%= form.text_area text_field_user_entry, :rows => rows,
                                            :cols => cols %>
</div>