<%= stylesheet_link_tag "pd_user" %>

<!-- Catch the errors and put the error messages on the screen. -->
<%= error_messages_for "pd_user" %>

<p>
  The future home of <%= @pd_user.login_name %>.
</p>