<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="EN">
<head>
	<title> JGC for Youth & Families</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="icon" href="/favicon.png" type="image/x-icon"> 
	<link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
	
	<style type="text/css" media="all">
		@import "/stylesheets/common.css";
		@import "/stylesheets/activities.css";
	</style>

</head>
<body>
	<div id="body">
		<img id="bg_gradient" src="/images/common/bg_gradient.gif" alt="">
		<div id="wrapper">
			<img id="logo" src="/images/common/logo_off.png">
			<div id="menu_and_login">
				<ul id="menu">
					<li>About Us</li>
					<li>Organizations</li>
					<li>After-School Activites</li>
					<li>Parents</li>
					<li>Program Directors</li>
					<li>Teachers</li>
					<li>Search</li>
				</ul>
				<div id="login_box">
					<div>
						<form>						
							<div id="login_left">
								<input type="text" value="username" onfocus="this.value=''">
								<input type="text" value="password" onfocus="this.value=''">
							</div>
							<div id="login_right">
								<input type="submit" id="login_button" value="Log in"/>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div id="title">
				<h1>East Palo Alto Wilderness Training</h1>
			</div>
    
            <div id="content_area">
                <%= @content_for_layout %>
            </div>
    	</div>
	</div>
</body>
</html>

